APP_TIMEZONE=America/Lima

CONTACT_RECIPIENT_EMAIL=hflores07@gmail.com
CONTACT_RECIPIENT_NAME="PERU TRANSPORT & LOGISTIC E.I.R.L."

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_ENCRYPTION=tls
MAIL_USERNAME=oscar.oafaflores1@gmail.com
MAIL_PASSWORD="REEMPLAZA_AQUI_TU_APP_PASSWORD_DE_GMAIL"
MAIL_FROM_ADDRESS=oscar.oafaflores1@gmail.com
MAIL_FROM_NAME="PERU TRANSPORT & LOGISTIC E.I.R.L."
